/* This is where styles are defined for your page. */
/* One style is provided as example. */

html {
	background: #F0F2EB;
	max-width: 1200px;
	font-family: 'Questrial', sans-serif;
	font-size: 14px;
}

/* unvisited link */
a:link {
    color: #3D694A;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #3D694A;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #3D694A;
    text-shadow: 1px 1px 1px #555;
    text-decoration: none;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: none;
}


p {
	color: #FF4242;
}

h1 {
    font-size: 30px;
    color: #FF4242;
    font-family: 'Righteous', cursive;
}

h2 {
	font-size: 20px;
	font-family: 'Righteous', cursive;
	color: #FF4242;
}

li a {
	text-decoration: none;
}

header {
	width: 100%;
	margin: 0 auto;
	background-color: #E1EDB9;
	text-align: center;
	height: 60px;

}

.page-header p {
	margin-top: -20px;
}


aside {
	background-color: #D4EE5E;
	float: left;
	width: 30%;
	margin-right: 30px;
	padding: 10px;
	border-radius: 5px;
	margin-top: 15px;
}

.more-info ul li {
	list-style-type: none;
}

.social-links li {
	display: inline;
}

.social-links li a {
	border: 2px;
	border-style: solid;
	border-color: white;
	padding: 5px;
}

aside img{
	width: 100px;
	height: auto;
	margin-bottom: 5px;

}

section {
	background-image: url(images/hiking-the-sand-dunes.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 35%;
	width: 60%;
	opacity: 0.8;
	color: #051B3E;
	text-align: justify;
}


#content ul li {
	list-style-type: none;
}

.poem {
	line-height: 15px;
}

.content-footer {
	background-color: #F4FAD2;
	height: 35px;
	padding: 10px;
}

.content-footer p {
	text-align: middle;
}

.page-footer {
	background-color: #E1EDB9;
	float: left;
	width: 30%;
	padding: 10px;
	margin-top: -43%;
	border-radius: 5px;
}

.page-footer ul li {
	list-style-type: none;
}
